*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
body{
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
.container{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.81);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(255, 255, 255, 0.39);
 width: 500px;
height: 200px; 
display: flex;
justify-content: center;
align-items: center;
font-size: 16px;
flex-direction: column;
padding: 10px;
}
#name{
    margin-top: 30px;
    width: 80%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 10px;
}
#btn{
    border:none;
    padding: 12px ;
    border-radius: 5px;

}
.messages{
    border-top: 1px solid grey;
width: 100%;
/* padding: 10px 0; */

}
#msg{
    margin-top: 10px;
    
}